@import 'variables';
@import "NavigationBar";

.light {
  background-color: white;
  color: black;

  > * {
    color: black;
  }
}

.dark {
  background-color: black;
  color: white;

  > * {
    color: white;
  }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3vw;
  height: 7rem;

  h1 {
    font-size: 4rem;
    max-width: 100vw;
    background-color: transparent !important;
  }
}
